*{
    margin:0;
    padding:0;
    text-align: center;
}

h1{
    text-align: center;
    background-color: #081b31 ;
    color: #fff;
    height: 5rem;
    line-height: 4.5rem;
}

.choice{
    height: 165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: gray;
    opacity: 50%;

}

img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;

}
.score-board{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin-top: 4rem;
   font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 3rem;
}

.msg-container{
    
    margin-top:4rem;
    align-items: vertical;
    
   
}

#msg{
    display: flex;
    justify-content: center;
    border-radius: 1rem ;
    font-size: 2rem;
    background-color: #081b31;
    color:#fff;
    padding:1rem;
    display: inline;
}

#round{
    display: flex;
    justify-content: center;
    border-radius: 1rem ;
    font-size: 2rem;
    background-color: #081b31;
    color:#fff;
    padding: 1rem;
    display: inline-block;
    margin-top:5rem;
    height: 40px;
    margin-bottom: 9px;
}